service: photodrop-photographer
frameworkVersion: "3"
plugins:
  - serverless-webpack
  - serverless-offline
useDotenv: true
provider:
  name: aws
  runtime: nodejs14.x
  apiGateway:
    minimumCompressionSize: 1024
    shouldStartNameWithService: true
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1
    NODE_OPTIONS: --enable-source-maps --stack-trace-limit=1000
    PHOTOGRAPHERS_TABLE_NAME: ${self:custom.photographersTableName}
    PHOTOGRAPHER_PHOTOS_TABLE_NAME: ${self:custom.photographerPhotosTableName}
    CLIENT_PHOTOS_TABLE_NAME: ${self:custom.clientPhotosTableName}
    PHOTOGRAPHER_CLIENTS_TABLE_NAME: ${self:custom.photographerClientsTableName}
    BUCKET_NAME: ${self:custom.bucketName}
    ACCES_SECRET: ${env:ACCES_SECRET}
    REFRESH_SECRET: ${env:REFRESH_SECRET}
    TOKEN: ${env:TOKEN}
    CHAT_ID: ${env:CHAT_ID}
    LAMBDA_ACCESS_POINT_ARN: ${env:LAMBDA_ACCESS_POINT_ARN}
    ACCESS_KEY_ID: ${env:ACCESS_KEY_ID}
    SECRET_ACCESS_KEY: ${env:SECRET_ACCESS_KEY}
    WATERMARK_URL: ${env:WATERMARK_URL}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:*
        - cognito-idp:*
        - dynamodb:*
      Resource: "*"

functions:
    verifyToken:
      handler: src/functions/verifyToken/handler.main

    signup:
      handler: src/functions/signup/handler.main
      events:
        - http:
            path: /signup
            method: post
            cors: true
    
    login:
      handler: src/functions/login/handler.main
      events:
        - http:
            path: /login
            method: post
            cors: true

    createAlbum:
      handler: src/functions/createAlbum/handler.main
      events:
        - http:
            path: /albums
            method: post
            cors: true
            authorizer:
              name: verifyToken
              identitySource: method.request.header.Authorization
              resultTtlInSeconds: 0

    getPresignedUrl:
      handler: src/functions/getPresignedUrl/handler.main
      events:
        - http:
            path: /getPresignedUrl/{albumName}
            method: post
            cors: true
            authorizer:
              name: verifyToken
              identitySource: method.request.header.Authorization
              resultTtlInSeconds: 0

    getListAlbums:
      handler: src/functions/getListAlbums/handler.main
      events:
        - http:
            path: /albums
            method: get
            cors: true
            authorizer:
              name: verifyToken
              identitySource: method.request.header.Authorization
              resultTtlInSeconds: 0

    searchClient:
      handler: src/functions/searchClient/handler.main
      events:
        - http:
            path: /searchClient
            method: get
            cors: true
            authorizer:
              name: verifyToken
              identitySource: method.request.header.Authorization
              resultTtlInSeconds: 0

    getAlbum:
      handler: src/functions/getAlbum/handler.main
      events:
        - http:
            path: /albums/{albumName}
            method: get
            cors: true
            authorizer:
              name: verifyToken
              identitySource: method.request.header.Authorization
              resultTtlInSeconds: 0

    deleteAlbum:
      handler: src/functions/deleteAlbum/handler.main
      events:
        - http:
            path: /albums/{albumName}
            method: delete
            cors: true

    updateDb:
      handler: src/functions/updateDb/handler.main
      events:
        - s3:
            bucket: ${self:custom.bucketName}
            event: s3:ObjectCreated:Put
            rules:
              - prefix: original/
            existing: true

# package:
#   individually: true

custom:
  photographersTableName: photographers-table
  photographerPhotosTableName: photographer-photos-table
  clientPhotosTableName: client-photo
  photographerClientsTableName: photographer-clients-table
  bucketName: photodrop-photos-bucket
  webpack:
    webpackConfig: webpack.config.ts
    includeModules: true
    packager: npm

resources:
  Resources:
    PhotographersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.photographersTableName}
        AttributeDefinitions:
          - AttributeName: username
            AttributeType: S
        KeySchema:
          - AttributeName: username
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
    AlbumsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.photographerPhotosTableName}
        AttributeDefinitions:
          - AttributeName: username
            AttributeType: S
          - AttributeName: name
            AttributeType: S
        KeySchema:
          - AttributeName: username
            KeyType: HASH
          - AttributeName: name
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
    PhotosTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.clientPhotosTableName}
        AttributeDefinitions:
          - AttributeName: number
            AttributeType: S
          - AttributeName: key
            AttributeType: S
        KeySchema:
          - AttributeName: number
            KeyType: HASH
          - AttributeName: key
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
        StreamSpecification:
          StreamViewType: NEW_IMAGE
    PhotographerClientsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.photographerClientsTableName}
        AttributeDefinitions:
          - AttributeName: username
            AttributeType: S
          - AttributeName: number
            AttributeType: S
        KeySchema:
          - AttributeName: username
            KeyType: HASH
          - AttributeName: number
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
    Bucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.bucketName}
        AccessControl: PublicRead